flows/relay/Cloud/RelayCloudPi.json
[{"id":"f2f2f80c.7c6c4","type":"mqtt out","z":"e5bbf3f1.a468b8","name":"","topic":"testmos1","qos":"","retain":"","broker":"a78d7666.a6d36","x":540,"y":200,"wires":[]},{"id":"9a29a5be.0a217","type":"inject","z":"e5bbf3f1.a468b8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":160,"wires":[["f2f2f80c.7c6c4"]]},{"id":"1a506a19.13d6b6","type":"inject","z":"e5bbf3f1.a468b8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":260,"wires":[["f2f2f80c.7c6c4"]]},{"id":"a78d7666.a6d36","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]