flows/collisionAvoider/Pi/CollisionAvoiderPi.json
[{"id":"d5478177.e5c62","type":"rpi-srf","z":"f2c341f2.fcbb4","name":"","topic":"SRF","pulse":"0.5","pins":"12,18","x":110,"y":280,"wires":[["dbb39a9e.e43208","bb32890.3091678"]]},{"id":"dbb39a9e.e43208","type":"mqtt out","z":"f2c341f2.fcbb4","name":"","topic":"testmos1","qos":"","retain":"","broker":"be95079e.c58fc8","x":280,"y":180,"wires":[]},{"id":"bb32890.3091678","type":"switch","z":"f2c341f2.fcbb4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"6","vt":"num"},{"t":"gte","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":340,"wires":[["28e14bef.ab5d24"],["ffa4a7b7.f73788"]]},{"id":"49384c44.1e06c4","type":"rpi-gpio out","z":"f2c341f2.fcbb4","name":"","pin":"8","set":true,"level":"0","freq":"","out":"out","x":700,"y":320,"wires":[]},{"id":"28e14bef.ab5d24","type":"change","z":"f2c341f2.fcbb4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["49384c44.1e06c4"]]},{"id":"ffa4a7b7.f73788","type":"change","z":"f2c341f2.fcbb4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["49384c44.1e06c4"]]},{"id":"be95079e.c58fc8","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]