flows/collisionAvoider/Cloud/ColissionAvoiderCloud.json
[{"id":"50cb9016.77aca8","type":"mqtt in","z":"e5bbf3f1.a468b8","name":"","topic":"testmos1","qos":"2","datatype":"auto","broker":"a78d7666.a6d36","x":190,"y":240,"wires":[["a6d08bc8.0cfbc8","f5ed8cc8.aefe"]]},{"id":"a6d08bc8.0cfbc8","type":"ui_gauge","z":"e5bbf3f1.a468b8","name":"","group":"4224e081.06bca","order":0,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"cm","format":"{{value}}","min":0,"max":"400","colors":["#b22822","#e6e600","#52ba1c"],"seg1":"","seg2":"","x":380,"y":140,"wires":[]},{"id":"d628d5c3.64c63","type":"ui_toast","z":"e5bbf3f1.a468b8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Objects too close","name":"","x":750,"y":240,"wires":[]},{"id":"f5ed8cc8.aefe","type":"switch","z":"e5bbf3f1.a468b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":320,"wires":[["dd69976f.16e1"]]},{"id":"dd69976f.16e1","type":"function","z":"e5bbf3f1.a468b8","name":"","func":"msg.payload=msg.payload+\" cm\"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["d628d5c3.64c63"]]},{"id":"a78d7666.a6d36","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4224e081.06bca","type":"ui_group","z":"","name":"Collision Avoider","tab":"64c7c9c.0ae1a38","disp":true,"width":"6","collapse":false},{"id":"64c7c9c.0ae1a38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]