flows/smdRGB/Pi/smdRGBPi.json
[{"id":"f087c766.45eac8","type":"rpi-gpio out","z":"f2c341f2.fcbb4","name":"","pin":"12","set":false,"level":"0","freq":"","out":"pwm","x":560,"y":320,"wires":[]},{"id":"8244eee2.fe321","type":"rpi-gpio out","z":"f2c341f2.fcbb4","name":"","pin":"32","set":false,"level":"0","freq":"","out":"pwm","x":600,"y":400,"wires":[]},{"id":"2d82febf.5659f2","type":"rpi-gpio out","z":"f2c341f2.fcbb4","name":"","pin":"33","set":false,"level":"0","freq":"","out":"pwm","x":600,"y":520,"wires":[]},{"id":"a1eeb98d.86d6b8","type":"mqtt in","z":"f2c341f2.fcbb4","name":"","topic":"testmos1","qos":"2","datatype":"auto","broker":"be95079e.c58fc8","x":120,"y":360,"wires":[["bc356157.b38aa"]]},{"id":"bc356157.b38aa","type":"json","z":"f2c341f2.fcbb4","name":"","property":"payload","action":"","pretty":false,"x":270,"y":320,"wires":[["582107d8.63f7d8"]]},{"id":"582107d8.63f7d8","type":"function","z":"f2c341f2.fcbb4","name":"","func":"var g = {payload:Math.floor(msg.payload.g/255*100)};\nvar r = {payload:Math.floor(msg.payload.r/255*100)};\nvar b = {payload:Math.floor(msg.payload.b/255*100)};\nreturn [g,r,b];","outputs":3,"noerr":0,"x":370,"y":440,"wires":[["f087c766.45eac8"],["8244eee2.fe321"],["2d82febf.5659f2"]]},{"id":"be95079e.c58fc8","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]